body {
  font-family: Arial, sans-serif;
  margin: 20px;
  color: #333;
}

h1,
h2 {
  color: #0073e6;
}

button {
  background-color: #0073e6;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}